*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
fieldset {
    margin: 0;
    padding: 0;
}

input,
button,
select,
textarea {
    font: inherit;
    border: none;
    outline: none;
}

a[role='button'],
button {
    cursor: pointer;
}

@media (prefers-reduced-motion) {
    ::view-transition-old(*),
    ::view-transition-new(*),
    ::view-transition-group(*) {
        animation: none !important;
    }
}
