*,
*::before,
*::after {
    box-sizing: border-box;

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        transition: background-color 0.2s;
        border-radius: 3px;
        background-color: rgba(130, 130, 130, 0.4);
    }

    &::-webkit-scrollbar-thumb:hover {
        border-radius: 3px;
        background-color: rgba(130, 130, 130, 0.5);
    }

    &::-webkit-scrollbar-button {
        width: 0;
        height: 0;
        display: none;
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}

body,
#root {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100vh;
    margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code {
    margin: 0;
    padding: 0;
}

input,
button,
select,
textarea {
    font: inherit;
}
