:root {
    --font: 'Space Grotesk', 'Roboto', 'Arial';
    --font-mono: 'Space Mono', 'Fira Mono', Monospace;
    --color-primary: #31ff9c;
}

:root[color-scheme='dark'] {
    /* Main */
    --color-fg: #ddd;
    --color-fg-1: #aaaaaa;
    --color-bg: #181818;
    --color-bg-1: #1e1e1e;
    --color-bg-2: #404040;
    --color-bg-3: #606060;
    /* General */
    --color-error: #e15757;
    --color-success: #55dd99;
    --color-mention-bg: #00b2ff33;
    --color-mention-fg: #00b2ff;
    /* Flow theme */
    --flow-color-edge: #ddd;
    --flow-color-node: #222a;
    --flow-color-grid-dots: #404040;
    --flow-border-radius-node: 0.6rem;
}

:root[color-scheme='light'] {
    /* Main */
    --color-fg: #111;
    --color-fg-1: #7f7f7f;
    --color-bg: #eee;
    --color-bg-1: #e3e3e3;
    --color-bg-2: #aaa;
    --color-bg-3: #888;
    /* General */
    --color-error: #d13434;
    --color-success: #55dd99;
    --color-mention-bg: #00b2ff33;
    --color-mention-fg: #00b2ff;
    /* Flow theme */
    --flow-color-edge: #111;
    --flow-color-node: #fffc;
    --flow-color-grid-dots: #404040;
    --flow-border-radius-node: 0.6rem;
}

* {
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;

        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 3px;

        background-color: rgba(130, 130, 130, 0.4);

        @media screen and (prefers-reduced-motion: no-preference) {
            transition: background-color 0.15s;
        }
    }

    &::-webkit-scrollbar-thumb:hover {
        border-radius: 3px;

        background-color: rgba(130, 130, 130, 0.5);
    }

    &::-webkit-scrollbar-button {
        width: 0;
        height: 0;
        display: none;
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}

body {
    color: var(--color-fg);
    font-family: var(--font);
    background-color: var(--color-bg);
}

#root {
    height: 100svh;
    display: flex;
    flex-direction: column;
}

dialog {
    color: var(--color-fg);
    border: none;
    border-radius: 0.5em;
    background-color: var(--color-bg);

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.7);
    }
}

div[contenteditable='true'],
span[contenteditable='true'],
select,
textarea,
input[type='text'],
input[type='email'],
input[type='number'],
input[type='search'],
input[type='password'] {
    border: 0.15rem solid transparent;
    outline: none;
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;

    color: var(--color-fg);
    background-color: var(--color-bg-1);

    @media screen and (prefers-reduced-motion: no-preference) {
        transition:
            border 0.15s ease,
            background-color 0.15s ease;
    }

    &:focus {
        border: 0.15rem solid var(--color-fg);
    }
    &:hover {
        background-color: var(--color-bg-2);
    }
}

select {
    padding: 0.6rem 1rem;
    appearance: none;
    background-size: 1.5rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMjRweCIgZmlsbD0iI2U4ZWFlZCI+PHBhdGggZD0iTTAgMGgyNHYyNEgwVjB6IiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTcgMTBsNSA1IDUtNUg3eiIvPjwvc3ZnPg==);
    background-repeat: no-repeat;
    background-position: calc(100% - 0.6rem) center;
}

button:not(.custom),
.button {
    gap: 0.5em;
    display: flex;
    padding: 0.4em 0.8em;
    align-items: center;

    color: var(--color-fg);
    border: 0.15rem solid transparent;
    font-weight: bold;
    border-radius: 0.5em;
    background-color: var(--color-bg-1);

    @media screen and (prefers-reduced-motion: no-preference) {
        transition:
            color 0.15s ease,
            transform 0.15s ease,
            background-color 0.15s ease;
    }

    &:focus {
        border: 0.15rem solid var(--color-fg);
    }
    &:hover {
        background-color: var(--color-bg-2);
    }
    &:active {
        background-color: var(--color-bg-3);
    }
    &:disabled {
        color: var(--color-bg-2);
        cursor: not-allowed;
        transform: none;
        background-color: var(--color-bg-1);
    }

    &.icon {
        color: var(--color-fg-1);
        padding: 0.25em;
        transform: scale(1);
        background-color: unset;

        &:hover {
            color: var(--color-fg-2);
            transform: scale(1.1);
            background-color: unset;
        }
        &:active {
            color: var(--color-fg-2);
            transform: scale(0.95);
            background-color: unset;
        }
        &:disabled {
            color: var(--color-bg-2);
            cursor: not-allowed;
            transform: none;
        }
    }
}

a.button {
    text-align: center;
    text-decoration: none;
}
