:root {
    --font: 'Arial';
    --flow-font: 'Fira Mono', Monospace;
}

:root[color-scheme='dark'] {
    /* Main */
    --color-fg: #ddd;
    --color-fg-1: #aaaaaa;
    --color-bg: #111;
    --color-bg-1: #373737;
    --color-bg-2: #404040;
    /* General */
    --color-error: #e15757;
    --color-success: #55dd99;
    /* Flow theme */
    --flow-color-edge: #ddd;
    --flow-color-node: #222a;
    --flow-color-grid-dots: #404040;
    --flow-border-radius-node: 0.6rem;
}

:root[color-scheme='light'] {
    /* Main */
    --color-fg: #111;
    --color-fg-1: #7f7f7f;
    --color-bg: #eee;
    --color-bg-1: #ccc;
    --color-bg-2: #aaa;
    /* General */
    --color-error: #d13434;
    --color-success: #55dd99;
    /* Flow theme */
    --flow-color-edge: #111;
    --flow-color-node: #fffc;
    --flow-color-grid-dots: #404040;
    --flow-border-radius-node: 0.6rem;
}

body {
    color: var(--color-fg);
    font-family: var(--font);
    background-color: var(--color-bg);
}
