:root {
    --font: 'Arial';
    --flow-font: 'Fira Mono', Monospace;
}

:root[color-scheme='dark'] {
    /* Main */
    --color-fg: #ddd;
    --color-fg-1: #aaaaaa;
    --color-bg: #111;
    --color-bg-1: #1e1e1e;
    --color-bg-2: #404040;
    --color-bg-3: #606060;
    /* General */
    --color-error: #e15757;
    --color-success: #55dd99;
    /* Flow theme */
    --flow-color-edge: #ddd;
    --flow-color-node: #222a;
    --flow-color-grid-dots: #404040;
    --flow-border-radius-node: 0.6rem;
}

:root[color-scheme='light'] {
    /* Main */
    --color-fg: #111;
    --color-fg-1: #7f7f7f;
    --color-bg: #eee;
    --color-bg-1: #e3e3e3;
    --color-bg-2: #aaa;
    --color-bg-3: #888;
    /* General */
    --color-error: #d13434;
    --color-success: #55dd99;
    /* Flow theme */
    --flow-color-edge: #111;
    --flow-color-node: #fffc;
    --flow-color-grid-dots: #404040;
    --flow-border-radius-node: 0.6rem;
}

body {
    color: var(--color-fg);
    font-family: var(--font);
    background-color: var(--color-bg);
}

dialog {
    color: var(--color-fg);
    border: none;
    border-radius: 0.5em;
    background-color: var(--color-bg);

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.7);
    }
}

textarea,
input[type='text'],
input[type='email'],
input[type='number'],
input[type='search'],
input[type='password'] {
    border: 0.15rem solid transparent;
    padding: 0.8em 1em;
    border-radius: 0.5em;

    color: var(--color-fg);
    background-color: var(--color-bg-1);

    @media screen and (prefers-reduced-motion: no-preference) {
        transition:
            border 0.15s ease,
            background-color 0.15s ease;
    }

    &:focus {
        border: 0.15rem solid var(--color-fg);
    }
    &:hover {
        background-color: var(--color-bg-2);
    }
}

button:not(.custom) {
    padding: 0.8em 1em;

    color: var(--color-fg);
    font-weight: bold;
    border-radius: 0.5em;
    background-color: var(--color-bg-1);

    @media screen and (prefers-reduced-motion: no-preference) {
        transition:
            transform 0.15s ease,
            background-color 0.15s ease;
    }

    &:hover {
        background-color: var(--color-bg-2);
    }
    &:active {
        background-color: var(--color-bg-3);
    }
}
