{
    "tabWidth": 4,
    "printWidth": 180,
    "singleQuote": true,
    "arrowParens": "avoid",
    "trailingComma": "all",
    "bracketSpacing": false,
    "plugins": ["prettier-plugin-svelte"],
    "overrides": [{"files": "*.svelte", "options": {"parser": "svelte"}}]
}
